<a href="https://colab.research.google.com/github/Anjinhyoung/TIL-Today-I-Learned-/blob/main/0626_ai%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_3%EA%B0%9C%EC%9B%94%EC%B0%A8_(%ED%8C%90%EB%8B%A4%EC%8A%A4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
#pd.read_csv('전국도시공원정보표준데이터.csv',encoding='cp949') # 메모장에서 UTF-8로 바꾸기 전 판다스에서 알아서 UTF-8로 바꾸기 위한 코
pd.read_csv('/content/drive/MyDrive/3개월차 ai프로젝트 연습/전국도시공원표준데이터.csv')

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명,Unnamed: 19
0,26440-00001,구랑공원,문화공원,NaN,부산광역시 강서구 구랑동 1199-7,35.157215,128.854935,9137.0,4,NaN,화장실,NaN,"팔각정자, 파고라2, 평의자6, 앉음벽14.38m, 축구장(골대2), 컨테이너, 안...",2011-09-02,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
1,26440-00002,압곡공원,근린공원,NaN,부산광역시 강서구 구랑동 1219,35.154655,128.854727,33756.0,4,NaN,NaN,NaN,"배드민턴장, 족구장, 파고라4, 안내판, 볼라드7, 데크435.11㎡, 데크계단19...",2008-02-28,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
2,26440-00003,서연정공원,소공원,NaN,부산광역시 강서구 대저1동 1330-7,35.216183,128.969558,646.0,7,NaN,NaN,NaN,"앉음벽13.57m, 트렐리스3, 안내판2, 플랜트2, 파고라, 평의자4",2013-01-23,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
3,26440-00004,용두공원,어린이공원,NaN,부산광역시 강서구 대저2동 1870-67,35.183679,128.956007,1620.0,NaN,"조합놀이기구, 그네",NaN,NaN,"정자, 농구장, 평의자6",1998-07-25,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
4,26440-00005,새동내공원,어린이공원,NaN,부산광역시 강서구 대저2동 2407-1,35.174568,128.950612,1009.0,8,"조합놀이기구, 그네, 흔들놀이기구2",NaN,NaN,"정자, 평의자14, 트렐리스2, 안내판, 볼라드",1995-04-07,부산광역시 강서구청 녹지공원과,051-970-4536,2019-05-02,3360000,부산광역시 강서구,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18132,28140-00009,송림4공원,어린이공원,NaN,인천광역시 동구 송림동 291-6,37.478715,126.653257,412.9,NaN,야외무대,NaN,NaN,"조형파고라, 앉음벽",1998-07-20,인천광역시 동구청,032-770-6205,2019-07-30,3500000,인천광역시 동구,NaN
18133,47760-00002,서부공원,근린공원,NaN,경상북도 영양군 영양읍 서부리 123,36.660456,129.114953,56045.0,NaN,NaN,화장실,NaN,NaN,1973-03-02,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군,NaN
18134,47760-00003,입암공원,근린공원,NaN,경상북도 영양군 입암면 신구리 산27-5,36.594802,129.093007,109262.0,NaN,NaN,NaN,NaN,NaN,1977-06-29,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군,NaN
18135,47760-00004,수비공원,근린공원,NaN,경상북도 영양군 수비면 발리리 산48,36.761440,129.200011,67159.0,NaN,NaN,NaN,NaN,NaN,1978-02-14,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군,NaN
18136,47760-00005,삼지연꽃 테마파크,수변공원,NaN,경상북도 영양군 영양읍 삼지리 200,36.662816,129.129372,380000.0,NaN,NaN,화장실,NaN,체험장,2009-11-19,경상북도 영양군청,054-680-6340,2019-09-05,5170000,경상북도 영양군,NaN

In [6]:
pd.read_csv('http://bit.ly/ds-korean-idol') #인터넷 사이트에서 불러오기

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [7]:
pd.read_csv('/content/drive/MyDrive/3개월차 ai프로젝트 연습/korean-idol.csv')

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [8]:
pd.read_excel('/content/drive/MyDrive/3개월차 ai프로젝트 연습/korean-idol2.xlsx')
# 아래 표를 데이터 프레임이라고 한다.

      이름     그룹      소속사  성별       생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자 1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자 1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자 1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자 1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자 1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자 1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자 1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자 1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자 1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자 1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자 1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자 1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자 1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자 1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자 1993-03-09  174.0   O   2925442

###데이터 기본 정보 알아보기

In [9]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [10]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [11]:
type(df)

pandas.core.frame.DataFrame

### 열(column)

In [12]:
df.columns # dtype = 'object' = str

Index(['이름', '그룹', '소속사', '성별', '생년월일', '키', '혈액형', '브랜드평판지수'], dtype='object')

In [13]:
new_column = ['name','group','company','gender','birthday','height','blood','brand']

In [14]:
df.columns = new_column # 기존 열과 새로운 열이 개수가 맞아야 한다.
# rename은 원본을 훼손하지 않는다.

# new_columns = {
#     'old_column1': 'new_column1',
#     'old_column2': 'new_column2',
#     'old_column3': 'new_column3',
    # 나머지 컬럼들...
# }

# df = df.rename(columns=new_columns)

# 컬럼을 하나만 변경 df = df.rename(columns={'old_column': 'new_column'})

In [15]:
df.columns

Index(['name', 'group', 'company', 'gender', 'birthday', 'height', 'blood',
       'brand'],
      dtype='object')

In [16]:
df

    name  group  company gender    birthday  height blood     brand
0     지민  방탄소년단      빅히트     남자  1995-10-13   173.6     A  10523260
1   지드래곤     빅뱅       YG     남자  1988-08-18   177.0     A   9916947
2   강다니엘    NaN      커넥트     남자  1996-12-10   180.0     A   8273745
3      뷔  방탄소년단      빅히트     남자  1995-12-30   178.0    AB   8073501
4     화사    마마무      RBW     여자  1995-07-23   162.1     A   7650928
5     정국  방탄소년단      빅히트     남자  1997-09-01   178.0     A   5208335
6     민현   뉴이스트     플레디스     남자  1995-08-09   182.3     O   4989792
7     소연    아이들       큐브     여자  1998-08-26     NaN     B   4668615
8      진  방탄소년단      빅히트     남자  1992-12-04   179.2     O   4570308
9    하성운     핫샷  스타크루이엔티     남자  1994-03-22   167.1     A   4036489
10    태연   소녀시대       SM     여자  1989-03-09     NaN     A   3918661
11   차은우   아스트로     판타지오     남자  1997-03-30   183.0     B   3506027
12    백호   뉴이스트     플레디스     남자  1995-07-21   175.0    AB   3301654
13    JR   뉴이스트     플레디스     남자  1995-06-08   176.0     O   3274137
14    슈가  방탄소년단      빅히트     남자  1993-03-09   174.0     O   2925442

### 행(row)

In [17]:
df.index

RangeIndex(start=0, stop=15, step=1)

In [18]:
# info(): 기본적인 행(row)의 정보와 데이터 타입을 반환
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   group     14 non-null     object
 2   company   15 non-null     object
 3   gender    15 non-null     object
 4   birthday  15 non-null     object
 5   height    13 non-null     float64
 6   blood     15 non-null     object
 7   brand     15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

### 통계정보 알아보기

In [19]:
# describe(): 정수 또는 실수의 필드 데이터만 가져와서 통계 정보를 출력
df.describe()

           height         brand
count   13.000000  1.500000e+01
mean   175.792308  5.655856e+06
std      5.820576  2.539068e+06
min    162.100000  2.925442e+06
25%    174.000000  3.712344e+06
50%    177.000000  4.668615e+06
75%    179.200000  7.862214e+06
max    183.000000  1.052326e+07

### 형태(shape)

In [20]:
df.shape

(15, 8)

### 원하는 갯수의 데이터 보기
* head(): 상위 5개의 row를 출
* head(n): 상위 n개의 row를 출력
* tail(): 하위 5개의 row를 출력
* tail(n):  하위 n개의 row를 출

In [21]:
df.head()

   name  group company gender    birthday  height blood     brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   173.6     A  10523260
1  지드래곤     빅뱅      YG     남자  1988-08-18   177.0     A   9916947
2  강다니엘    NaN     커넥트     남자  1996-12-10   180.0     A   8273745
3     뷔  방탄소년단     빅히트     남자  1995-12-30   178.0    AB   8073501
4    화사    마마무     RBW     여자  1995-07-23   162.1     A   7650928

In [22]:
df.head(3)

   name  group company gender    birthday  height blood     brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   173.6     A  10523260
1  지드래곤     빅뱅      YG     남자  1988-08-18   177.0     A   9916947
2  강다니엘    NaN     커넥트     남자  1996-12-10   180.0     A   8273745

In [23]:
df.tail()

   name  group company gender    birthday  height blood    brand
10   태연   소녀시대      SM     여자  1989-03-09     NaN     A  3918661
11  차은우   아스트로    판타지오     남자  1997-03-30   183.0     B  3506027
12   백호   뉴이스트    플레디스     남자  1995-07-21   175.0    AB  3301654
13   JR   뉴이스트    플레디스     남자  1995-06-08   176.0     O  3274137
14   슈가  방탄소년단     빅히트     남자  1993-03-09   174.0     O  2925442

In [24]:
df.tail(3)

   name  group company gender    birthday  height blood    brand
12   백호   뉴이스트    플레디스     남자  1995-07-21   175.0    AB  3301654
13   JR   뉴이스트    플레디스     남자  1995-06-08   176.0     O  3274137
14   슈가  방탄소년단     빅히트     남자  1993-03-09   174.0     O  2925442

### 정렬하기

In [25]:
#index로 오름차수
df.sort_index()

    name  group  company gender    birthday  height blood     brand
0     지민  방탄소년단      빅히트     남자  1995-10-13   173.6     A  10523260
1   지드래곤     빅뱅       YG     남자  1988-08-18   177.0     A   9916947
2   강다니엘    NaN      커넥트     남자  1996-12-10   180.0     A   8273745
3      뷔  방탄소년단      빅히트     남자  1995-12-30   178.0    AB   8073501
4     화사    마마무      RBW     여자  1995-07-23   162.1     A   7650928
5     정국  방탄소년단      빅히트     남자  1997-09-01   178.0     A   5208335
6     민현   뉴이스트     플레디스     남자  1995-08-09   182.3     O   4989792
7     소연    아이들       큐브     여자  1998-08-26     NaN     B   4668615
8      진  방탄소년단      빅히트     남자  1992-12-04   179.2     O   4570308
9    하성운     핫샷  스타크루이엔티     남자  1994-03-22   167.1     A   4036489
10    태연   소녀시대       SM     여자  1989-03-09     NaN     A   3918661
11   차은우   아스트로     판타지오     남자  1997-03-30   183.0     B   3506027
12    백호   뉴이스트     플레디스     남자  1995-07-21   175.0    AB   3301654
13    JR   뉴이스트     플레디스     남자  1995-06-08   176.0     O   3274137
14    슈가  방탄소년단      빅히트     남자  1993-03-09   174.0     O   2925442

In [26]:
#index로 내침차수
df.sort_index(ascending=False)

    name  group  company gender    birthday  height blood     brand
14    슈가  방탄소년단      빅히트     남자  1993-03-09   174.0     O   2925442
13    JR   뉴이스트     플레디스     남자  1995-06-08   176.0     O   3274137
12    백호   뉴이스트     플레디스     남자  1995-07-21   175.0    AB   3301654
11   차은우   아스트로     판타지오     남자  1997-03-30   183.0     B   3506027
10    태연   소녀시대       SM     여자  1989-03-09     NaN     A   3918661
9    하성운     핫샷  스타크루이엔티     남자  1994-03-22   167.1     A   4036489
8      진  방탄소년단      빅히트     남자  1992-12-04   179.2     O   4570308
7     소연    아이들       큐브     여자  1998-08-26     NaN     B   4668615
6     민현   뉴이스트     플레디스     남자  1995-08-09   182.3     O   4989792
5     정국  방탄소년단      빅히트     남자  1997-09-01   178.0     A   5208335
4     화사    마마무      RBW     여자  1995-07-23   162.1     A   7650928
3      뷔  방탄소년단      빅히트     남자  1995-12-30   178.0    AB   8073501
2   강다니엘    NaN      커넥트     남자  1996-12-10   180.0     A   8273745
1   지드래곤     빅뱅       YG     남자  1988-08-18   177.0     A   9916947
0     지민  방탄소년단      빅히트     남자  1995-10-13   173.6     A  10523260

In [27]:
# 값에 따른 오름차순 정렬
df.sort_values(by='height')

    name  group  company gender    birthday  height blood     brand
4     화사    마마무      RBW     여자  1995-07-23   162.1     A   7650928
9    하성운     핫샷  스타크루이엔티     남자  1994-03-22   167.1     A   4036489
0     지민  방탄소년단      빅히트     남자  1995-10-13   173.6     A  10523260
14    슈가  방탄소년단      빅히트     남자  1993-03-09   174.0     O   2925442
12    백호   뉴이스트     플레디스     남자  1995-07-21   175.0    AB   3301654
13    JR   뉴이스트     플레디스     남자  1995-06-08   176.0     O   3274137
1   지드래곤     빅뱅       YG     남자  1988-08-18   177.0     A   9916947
3      뷔  방탄소년단      빅히트     남자  1995-12-30   178.0    AB   8073501
5     정국  방탄소년단      빅히트     남자  1997-09-01   178.0     A   5208335
8      진  방탄소년단      빅히트     남자  1992-12-04   179.2     O   4570308
2   강다니엘    NaN      커넥트     남자  1996-12-10   180.0     A   8273745
6     민현   뉴이스트     플레디스     남자  1995-08-09   182.3     O   4989792
11   차은우   아스트로     판타지오     남자  1997-03-30   183.0     B   3506027
7     소연    아이들       큐브     여자  1998-08-26     NaN     B   4668615
10    태연   소녀시대       SM     여자  1989-03-09     NaN     A   3918661

In [28]:
# 값에 따른 내차순 정렬
df.sort_values(by='height',ascending=False)

    name  group  company gender    birthday  height blood     brand
11   차은우   아스트로     판타지오     남자  1997-03-30   183.0     B   3506027
6     민현   뉴이스트     플레디스     남자  1995-08-09   182.3     O   4989792
2   강다니엘    NaN      커넥트     남자  1996-12-10   180.0     A   8273745
8      진  방탄소년단      빅히트     남자  1992-12-04   179.2     O   4570308
3      뷔  방탄소년단      빅히트     남자  1995-12-30   178.0    AB   8073501
5     정국  방탄소년단      빅히트     남자  1997-09-01   178.0     A   5208335
1   지드래곤     빅뱅       YG     남자  1988-08-18   177.0     A   9916947
13    JR   뉴이스트     플레디스     남자  1995-06-08   176.0     O   3274137
12    백호   뉴이스트     플레디스     남자  1995-07-21   175.0    AB   3301654
14    슈가  방탄소년단      빅히트     남자  1993-03-09   174.0     O   2925442
0     지민  방탄소년단      빅히트     남자  1995-10-13   173.6     A  10523260
9    하성운     핫샷  스타크루이엔티     남자  1994-03-22   167.1     A   4036489
4     화사    마마무      RBW     여자  1995-07-23   162.1     A   7650928
7     소연    아이들       큐브     여자  1998-08-26     NaN     B   4668615
10    태연   소녀시대       SM     여자  1989-03-09     NaN     A   3918661

In [29]:
# 값에 따른 내차순 정렬, NaN을 가장 위로 올리
df.sort_values(by='height',ascending=False,na_position='first') # fisrt  -> last로 두면 NaN이 맨 아래로

    name  group  company gender    birthday  height blood     brand
7     소연    아이들       큐브     여자  1998-08-26     NaN     B   4668615
10    태연   소녀시대       SM     여자  1989-03-09     NaN     A   3918661
11   차은우   아스트로     판타지오     남자  1997-03-30   183.0     B   3506027
6     민현   뉴이스트     플레디스     남자  1995-08-09   182.3     O   4989792
2   강다니엘    NaN      커넥트     남자  1996-12-10   180.0     A   8273745
8      진  방탄소년단      빅히트     남자  1992-12-04   179.2     O   4570308
3      뷔  방탄소년단      빅히트     남자  1995-12-30   178.0    AB   8073501
5     정국  방탄소년단      빅히트     남자  1997-09-01   178.0     A   5208335
1   지드래곤     빅뱅       YG     남자  1988-08-18   177.0     A   9916947
13    JR   뉴이스트     플레디스     남자  1995-06-08   176.0     O   3274137
12    백호   뉴이스트     플레디스     남자  1995-07-21   175.0    AB   3301654
14    슈가  방탄소년단      빅히트     남자  1993-03-09   174.0     O   2925442
0     지민  방탄소년단      빅히트     남자  1995-10-13   173.6     A  10523260
9    하성운     핫샷  스타크루이엔티     남자  1994-03-22   167.1     A   4036489
4     화사    마마무      RBW     여자  1995-07-23   162.1     A   7650928

In [30]:
# 값에 따른 내차순 정렬, NaN을 가장 아래로 내리기
# 1차 정: 키(내림차), 2차 정:브랜드(오름차)
df.sort_values(by=['height','brand'],ascending=[False,True],na_position='first') # fisrt  -> last로 두면 NaN이 맨 아래로

    name  group  company gender    birthday  height blood     brand
10    태연   소녀시대       SM     여자  1989-03-09     NaN     A   3918661
7     소연    아이들       큐브     여자  1998-08-26     NaN     B   4668615
11   차은우   아스트로     판타지오     남자  1997-03-30   183.0     B   3506027
6     민현   뉴이스트     플레디스     남자  1995-08-09   182.3     O   4989792
2   강다니엘    NaN      커넥트     남자  1996-12-10   180.0     A   8273745
8      진  방탄소년단      빅히트     남자  1992-12-04   179.2     O   4570308
5     정국  방탄소년단      빅히트     남자  1997-09-01   178.0     A   5208335
3      뷔  방탄소년단      빅히트     남자  1995-12-30   178.0    AB   8073501
1   지드래곤     빅뱅       YG     남자  1988-08-18   177.0     A   9916947
13    JR   뉴이스트     플레디스     남자  1995-06-08   176.0     O   3274137
12    백호   뉴이스트     플레디스     남자  1995-07-21   175.0    AB   3301654
14    슈가  방탄소년단      빅히트     남자  1993-03-09   174.0     O   2925442
0     지민  방탄소년단      빅히트     남자  1995-10-13   173.6     A  10523260
9    하성운     핫샷  스타크루이엔티     남자  1994-03-22   167.1     A   4036489
4     화사    마마무      RBW     여자  1995-07-23   162.1     A   7650928

### 컬럼으로 데이터 다루기

In [31]:
df.head()

   name  group company gender    birthday  height blood     brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   173.6     A  10523260
1  지드래곤     빅뱅      YG     남자  1988-08-18   177.0     A   9916947
2  강다니엘    NaN     커넥트     남자  1996-12-10   180.0     A   8273745
3     뷔  방탄소년단     빅히트     남자  1995-12-30   178.0    AB   8073501
4    화사    마마무     RBW     여자  1995-07-23   162.1     A   7650928

In [32]:
df['blood']

0      A
1      A
2      A
3     AB
4      A
5      A
6      O
7      B
8      O
9      A
10     A
11     B
12    AB
13     O
14     O
Name: blood, dtype: object

In [33]:
type(df['blood']) # 하나의 열은 Series이다.

pandas.core.series.Series

In [34]:
df['name']

0       지민
1     지드래곤
2     강다니엘
3        뷔
4       화사
5       정국
6       민현
7       소연
8        진
9      하성운
10      태연
11     차은우
12      백호
13      JR
14      슈가
Name: name, dtype: object

In [35]:
df.name

0       지민
1     지드래곤
2     강다니엘
3        뷔
4       화사
5       정국
6       민현
7       소연
8        진
9      하성운
10      태연
11     차은우
12      백호
13      JR
14      슈가
Name: name, dtype: object

### 범위 선택

In [36]:
df[:3] # df.head(3)

   name  group company gender    birthday  height blood     brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   173.6     A  10523260
1  지드래곤     빅뱅      YG     남자  1988-08-18   177.0     A   9916947
2  강다니엘    NaN     커넥트     남자  1996-12-10   180.0     A   8273745

In [37]:
df.loc[:,'name']

0       지민
1     지드래곤
2     강다니엘
3        뷔
4       화사
5       정국
6       민현
7       소연
8        진
9      하성운
10      태연
11     차은우
12      백호
13      JR
14      슈가
Name: name, dtype: object

In [38]:
df.loc[:5,'name'] # 5번까지

0      지민
1    지드래곤
2    강다니엘
3       뷔
4      화사
5      정국
Name: name, dtype: object

In [39]:
df.loc[:,['name','gender','height']]

    name gender  height
0     지민     남자   173.6
1   지드래곤     남자   177.0
2   강다니엘     남자   180.0
3      뷔     남자   178.0
4     화사     여자   162.1
5     정국     남자   178.0
6     민현     남자   182.3
7     소연     여자     NaN
8      진     남자   179.2
9    하성운     남자   167.1
10    태연     여자     NaN
11   차은우     남자   183.0
12    백호     남자   175.0
13    JR     남자   176.0
14    슈가     남자   174.0

In [40]:
df.loc[3:8,['name','gender','height']]

  name gender  height
3    뷔     남자   178.0
4   화사     여자   162.1
5   정국     남자   178.0
6   민현     남자   182.3
7   소연     여자     NaN
8    진     남자   179.2

In [41]:
df.loc[3:8,'name':'birthday']

  name  group company gender    birthday
3    뷔  방탄소년단     빅히트     남자  1995-12-30
4   화사    마마무     RBW     여자  1995-07-23
5   정국  방탄소년단     빅히트     남자  1997-09-01
6   민현   뉴이스트    플레디스     남자  1995-08-09
7   소연    아이들      큐브     여자  1998-08-26
8    진  방탄소년단     빅히트     남자  1992-12-04

In [42]:
df.iloc[:,[0,2]]

    name  company
0     지민      빅히트
1   지드래곤       YG
2   강다니엘      커넥트
3      뷔      빅히트
4     화사      RBW
5     정국      빅히트
6     민현     플레디스
7     소연       큐브
8      진      빅히트
9    하성운  스타크루이엔티
10    태연       SM
11   차은우     판타지오
12    백호     플레디스
13    JR     플레디스
14    슈가      빅히트

In [43]:
df.iloc[:,0:2] # 0:2 (index 2를 포함하지 않ㅡ)

    name  group
0     지민  방탄소년단
1   지드래곤     빅뱅
2   강다니엘    NaN
3      뷔  방탄소년단
4     화사    마마무
5     정국  방탄소년단
6     민현   뉴이스트
7     소연    아이들
8      진  방탄소년단
9    하성운     핫샷
10    태연   소녀시대
11   차은우   아스트로
12    백호   뉴이스트
13    JR   뉴이스트
14    슈가  방탄소년단

In [44]:
df.iloc[0:3,0:2] # ',' 인덱싱 , ':' 슬라이싱

   name  group
0    지민  방탄소년단
1  지드래곤     빅뱅
2  강다니엘    NaN

### Boolean Indexing

In [45]:
df['height'] >= 180

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
Name: height, dtype: bool

In [46]:
df.height>=180

0     False
1     False
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
Name: height, dtype: bool

In [47]:
df[df['height'] >= 180]

    name group company gender    birthday  height blood    brand
2   강다니엘   NaN     커넥트     남자  1996-12-10   180.0     A  8273745
6     민현  뉴이스트    플레디스     남자  1995-08-09   182.3     O  4989792
11   차은우  아스트로    판타지오     남자  1997-03-30   183.0     B  3506027

In [48]:
df[df.height>=180]

    name group company gender    birthday  height blood    brand
2   강다니엘   NaN     커넥트     남자  1996-12-10   180.0     A  8273745
6     민현  뉴이스트    플레디스     남자  1995-08-09   182.3     O  4989792
11   차은우  아스트로    판타지오     남자  1997-03-30   183.0     B  3506027

In [49]:
df[df['height'] >= 180]['name']

2     강다니엘
6       민현
11     차은우
Name: name, dtype: object

In [50]:
df[df.height>=180].name

2     강다니엘
6       민현
11     차은우
Name: name, dtype: object

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   group     14 non-null     object
 2   company   15 non-null     object
 3   gender    15 non-null     object
 4   birthday  15 non-null     object
 5   height    13 non-null     float64
 6   blood     15 non-null     object
 7   brand     15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [52]:
df[df['height'] >= 180][['name','birthday','blood']]

    name    birthday blood
2   강다니엘  1996-12-10     A
6     민현  1995-08-09     O
11   차은우  1997-03-30     B

In [53]:
df.loc[df['height']>=180,['name','birthday','blood']]

    name    birthday blood
2   강다니엘  1996-12-10     A
6     민현  1995-08-09     O
11   차은우  1997-03-30     B

In [54]:
df.loc[df['height']>=180,'name':'blood']

    name group company gender    birthday  height blood
2   강다니엘   NaN     커넥트     남자  1996-12-10   180.0     A
6     민현  뉴이스트    플레디스     남자  1995-08-09   182.3     O
11   차은우  아스트로    판타지오     남자  1997-03-30   183.0     B

### isin 활용하기
* isin은 조건을 걸고자 하는 값이 정의한 list에 있을 때만 색인하려는 경우에 사

In [55]:
company=['플레디스','SM']

In [56]:
df.company.isin(company)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12     True
13     True
14    False
Name: company, dtype: bool

In [57]:
df['company'].isin(company)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12     True
13     True
14    False
Name: company, dtype: bool

In [58]:
df[df['company'].isin(company)]

   name group company gender    birthday  height blood    brand
6    민현  뉴이스트    플레디스     남자  1995-08-09   182.3     O  4989792
10   태연  소녀시대      SM     여자  1989-03-09     NaN     A  3918661
12   백호  뉴이스트    플레디스     남자  1995-07-21   175.0    AB  3301654
13   JR  뉴이스트    플레디스     남자  1995-06-08   176.0     O  3274137

In [59]:
#문제 loc 이용해서 df[df['company'].isin(company)] 이랑 똑같이 나오게 하기
df.loc[df['company'].isin(company),:] #     둘 다 같음 df.loc[df['company'].isin(company)]

   name group company gender    birthday  height blood    brand
6    민현  뉴이스트    플레디스     남자  1995-08-09   182.3     O  4989792
10   태연  소녀시대      SM     여자  1989-03-09     NaN     A  3918661
12   백호  뉴이스트    플레디스     남자  1995-07-21   175.0    AB  3301654
13   JR  뉴이스트    플레디스     남자  1995-06-08   176.0     O  3274137

In [60]:
df.loc[df['company'].isin(company),'name':'company']

   name group company
6    민현  뉴이스트    플레디스
10   태연  소녀시대      SM
12   백호  뉴이스트    플레디스
13   JR  뉴이스트    플레디스

# 결측값(Null)
* Null은 비어 있는 값 또는 결측값이라고 부름
* pandas에서는 NaN(NOT a Number)로 표기 된 것은 모두 결측값으로 취급

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   group     14 non-null     object
 2   company   15 non-null     object
 3   gender    15 non-null     object
 4   birthday  15 non-null     object
 5   height    13 non-null     float64
 6   blood     15 non-null     object
 7   brand     15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [62]:
# 결측값이 아닌지 여부를 판단
df.isna() # True가 결측값

     name  group  company  gender  birthday  height  blood  brand
0   False  False    False   False     False   False  False  False
1   False  False    False   False     False   False  False  False
2   False   True    False   False     False   False  False  False
3   False  False    False   False     False   False  False  False
4   False  False    False   False     False   False  False  False
5   False  False    False   False     False   False  False  False
6   False  False    False   False     False   False  False  False
7   False  False    False   False     False    True  False  False
8   False  False    False   False     False   False  False  False
9   False  False    False   False     False   False  False  False
10  False  False    False   False     False    True  False  False
11  False  False    False   False     False   False  False  False
12  False  False    False   False     False   False  False  False
13  False  False    False   False     False   False  False  False
14  False  False    False   False     False   False  False  False

In [63]:
# null인지 아닌지 여부를 판단
df.isnull()

     name  group  company  gender  birthday  height  blood  brand
0   False  False    False   False     False   False  False  False
1   False  False    False   False     False   False  False  False
2   False   True    False   False     False   False  False  False
3   False  False    False   False     False   False  False  False
4   False  False    False   False     False   False  False  False
5   False  False    False   False     False   False  False  False
6   False  False    False   False     False   False  False  False
7   False  False    False   False     False    True  False  False
8   False  False    False   False     False   False  False  False
9   False  False    False   False     False   False  False  False
10  False  False    False   False     False    True  False  False
11  False  False    False   False     False   False  False  False
12  False  False    False   False     False   False  False  False
13  False  False    False   False     False   False  False  False
14  False  False    False   False     False   False  False  False

In [64]:
df.group.isnull()

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: group, dtype: bool

In [65]:
df['group'].isnull()

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: group, dtype: bool

In [66]:
df[df['group'].isnull()]['name']

2    강다니엘
Name: name, dtype: object

In [67]:
df['name'][df['group'].isnull()]

2    강다니엘
Name: name, dtype: object

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   group     14 non-null     object
 2   company   15 non-null     object
 3   gender    15 non-null     object
 4   birthday  15 non-null     object
 5   height    13 non-null     float64
 6   blood     15 non-null     object
 7   brand     15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [69]:
df['name'][df['group'].notnull()]

# df.이름[df.그룹.isnull()]

0       지민
1     지드래곤
3        뷔
4       화사
5       정국
6       민현
7       소연
8        진
9      하성운
10      태연
11     차은우
12      백호
13      JR
14      슈가
Name: name, dtype: object

### 문제
그룹이 있는 연예인의 이름, 키, 혈액형을 출력(단,loc를 사용)

In [70]:
df.loc[df['group'].notnull(),['name','height','blood']]

    name  height blood
0     지민   173.6     A
1   지드래곤   177.0     A
3      뷔   178.0    AB
4     화사   162.1     A
5     정국   178.0     A
6     민현   182.3     O
7     소연     NaN     B
8      진   179.2     O
9    하성운   167.1     A
10    태연     NaN     A
11   차은우   183.0     B
12    백호   175.0    AB
13    JR   176.0     O
14    슈가   174.0     O

### 데이터 복사

In [71]:
df.head()

   name  group company gender    birthday  height blood     brand
0    지민  방탄소년단     빅히트     남자  1995-10-13   173.6     A  10523260
1  지드래곤     빅뱅      YG     남자  1988-08-18   177.0     A   9916947
2  강다니엘    NaN     커넥트     남자  1996-12-10   180.0     A   8273745
3     뷔  방탄소년단     빅히트     남자  1995-12-30   178.0    AB   8073501
4    화사    마마무     RBW     여자  1995-07-23   162.1     A   7650928

In [72]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [73]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [74]:
copy_df = df.copy()

In [75]:
print(hex(id(copy_df)))
print(hex(id(df)))

0x7f6e76038190
0x7f6e76057280

### 행 추가
*dict 형태의 데이터를 만들어주고, append() 함수를 사용하여 데이터를 추가

*반드시 ignore_index = True 옵션을 추가해야 에러가 나지 않음

In [76]:
df.append({'이름':'김사과','그룹':'애플','소속사':'apple','성별':'여자','생년월일':'2000-01-01','키':160,'혈액형':'A','브랜드평판지수':987654321},ignore_index=True)

<ipython-input-76-0887f080f4c0>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append({'이름':'김사과','그룹':'애플','소속사':'apple','성별':'여자','생년월일':'2000-01-01','키':160,'혈액형':'A','브랜드평판지수':987654321},ignore_index=True)

      이름     그룹      소속사  성별        생년월일      키 혈액형    브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A   10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A    9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A    8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB    8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A    7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A    5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O    4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B    4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O    4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A    4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A    3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B    3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB    3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O    3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O    2925442
15   김사과     애플    apple  여자  2000-01-01  160.0   A  987654321

In [77]:
df.tail() # 15번이 안 나옴

     이름     그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
10   태연   소녀시대    SM  여자  1989-03-09    NaN   A  3918661
11  차은우   아스트로  판타지오  남자  1997-03-30  183.0   B  3506027
12   백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13   JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137
14   슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O  2925442

In [78]:
df = df.append({'이름':'김사과','그룹':'애플','소속사':'apple','성별':'여자','생년월일':'2000-01-01','키':160,'혈액형':'A','브랜드평판지수':987654321},ignore_index=True)

<ipython-input-78-d4fab5458251>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'이름':'김사과','그룹':'애플','소속사':'apple','성별':'여자','생년월일':'2000-01-01','키':160,'혈액형':'A','브랜드평판지수':987654321},ignore_index=True)

In [79]:
df.tail()

     이름     그룹    소속사  성별        생년월일      키 혈액형    브랜드평판지수
11  차은우   아스트로   판타지오  남자  1997-03-30  183.0   B    3506027
12   백호   뉴이스트   플레디스  남자  1995-07-21  175.0  AB    3301654
13   JR   뉴이스트   플레디스  남자  1995-06-08  176.0   O    3274137
14   슈가  방탄소년단    빅히트  남자  1993-03-09  174.0   O    2925442
15  김사과     애플  apple  여자  2000-01-01  160.0   A  987654321

### 열 추가

In [80]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [81]:
df['국적'] ='대한민국' # 열을 추가하는 거 (파생변수)

In [82]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260  대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  대한민국
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745  대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928  대한민국

In [83]:
df.tail()

     이름     그룹    소속사  성별        생년월일      키 혈액형    브랜드평판지수    국적
11  차은우   아스트로   판타지오  남자  1997-03-30  183.0   B    3506027  대한민국
12   백호   뉴이스트   플레디스  남자  1995-07-21  175.0  AB    3301654  대한민국
13   JR   뉴이스트   플레디스  남자  1995-06-08  176.0   O    3274137  대한민국
14   슈가  방탄소년단    빅히트  남자  1993-03-09  174.0   O    2925442  대한민국
15  김사과     애플  apple  여자  2000-01-01  160.0   A  987654321  대한민국

In [84]:
df.loc[df['이름']=='김사과','국적'] = '미국'

In [85]:
df.loc[df.이름=='김사과','국적'] = '일본'

In [86]:
df.loc[df.이름=='김사과','이름'] = '김복숭아입니다.'

In [87]:
df.tail()

          이름     그룹    소속사  성별        생년월일      키 혈액형    브랜드평판지수    국적
11       차은우   아스트로   판타지오  남자  1997-03-30  183.0   B    3506027  대한민국
12        백호   뉴이스트   플레디스  남자  1995-07-21  175.0  AB    3301654  대한민국
13        JR   뉴이스트   플레디스  남자  1995-06-08  176.0   O    3274137  대한민국
14        슈가  방탄소년단    빅히트  남자  1993-03-09  174.0   O    2925442  대한민국
15  김복숭아입니다.     애플  apple  여자  2000-01-01  160.0   A  987654321    일본

### 통계값 다루기

In [88]:
df.describe()

                키       브랜드평판지수
count   14.000000  1.600000e+01
mean   174.664286  6.703076e+07
std      7.006218  2.455119e+08
min    160.000000  2.925442e+06
25%    173.700000  3.815502e+06
50%    176.500000  4.829204e+06
75%    178.900000  8.123562e+06
max    183.000000  9.876543e+08

In [89]:
df['키'].sum()

2445.3

In [90]:
df['키'].count()

14

In [91]:
df['키'].mean()

174.66428571428574

In [92]:
df['키'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
15    160.0
Name: 키, dtype: float64>

In [93]:
# 분산: 데이터가 평균으로부터 얼마나 떨어져 있는지 정도
# 분산: (데이터 - 평균 ) **2를 모두 더한 값 / 데이터 개수
# 표준편차 : 분산에 루트를 씌움
import numpy as np

data = np.array([1,3,5,7,9])

분산은 8.0



```
# 코드로 형식 지정됨
```

표춘편차는 2.82...

In [94]:
data.var() # 분산

8.0

In [95]:
data.std()

2.8284271247461903

In [96]:
df.소속사

0         빅히트
1          YG
2         커넥트
3         빅히트
4         RBW
5         빅히트
6        플레디스
7          큐브
8         빅히트
9     스타크루이엔티
10         SM
11       판타지오
12       플레디스
13       플레디스
14        빅히트
15      apple
Name: 소속사, dtype: object

### 그룹으로 묶기
* groupby()는 데이터를 그룹으로 묶어 분석할 때 사용

In [97]:
df.groupby('소속사')

In [98]:
df.groupby('소속사').count()

         이름  그룹  성별  생년월일  키  혈액형  브랜드평판지수  국적
소속사
RBW       1   1   1     1  1    1        1   1
SM        1   1   1     1  0    1        1   1
YG        1   1   1     1  1    1        1   1
apple     1   1   1     1  1    1        1   1
빅히트       5   5   5     5  5    5        5   5
스타크루이엔티   1   1   1     1  1    1        1   1
커넥트       1   0   1     1  1    1        1   1
큐브        1   1   1     1  0    1        1   1
판타지오      1   1   1     1  1    1        1   1
플레디스      3   3   3     3  3    3        3   3

In [99]:
df.groupby('소속사').mean()

<ipython-input-99-7ed3cfaec3c0>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('소속사').mean()

                  키       브랜드평판지수
소속사
RBW      162.100000  7.650928e+06
SM              NaN  3.918661e+06
YG       177.000000  9.916947e+06
apple    160.000000  9.876543e+08
빅히트      176.560000  6.260169e+06
스타크루이엔티  167.100000  4.036489e+06
커넥트      180.000000  8.273745e+06
큐브              NaN  4.668615e+06
판타지오     183.000000  3.506027e+06
플레디스     177.766667  3.855194e+06

In [100]:
df.groupby('그룹').sum()

<ipython-input-100-9ca72e8e6547>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('그룹').sum()

           키    브랜드평판지수
그룹
뉴이스트   533.3   11565583
마마무    162.1    7650928
방탄소년단  882.8   31300846
빅뱅     177.0    9916947
소녀시대     0.0    3918661
아스트로   183.0    3506027
아이들      0.0    4668615
애플     160.0  987654321
핫샷     167.1    4036489

In [101]:
df.groupby('성별').mean()

<ipython-input-101-34fb6a0b8638>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('성별').mean()

             키       브랜드평판지수
성별
남자  176.933333  5.716636e+06
여자  161.050000  2.509731e+08

In [102]:
# 혈액형 별로 그룹을 맺어 키의 평균값을 확인
# 혈액형 별로  그룹을 맺고, 성별로 또 그룹을 나눈 후 키의 평균값을 확인

In [103]:
df.groupby('혈액형')['키'].mean()
# df.groupby('혈액형').키.mean() 이것도 되

혈액형
A     171.114286
AB    176.500000
B     183.000000
O     177.875000
Name: 키, dtype: float64

In [104]:
df.groupby(['혈액형','성별'])['키'].mean()

혈액형  성별
A    남자    175.140
     여자    161.050
AB   남자    176.500
B    남자    183.000
     여자        NaN
O    남자    177.875
Name: 키, dtype: float64

### 결측값 채우기

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       16 non-null     object
 1   그룹       15 non-null     object
 2   소속사      16 non-null     object
 3   성별       16 non-null     object
 4   생년월일     16 non-null     object
 5   키        14 non-null     float64
 6   혈액형      16 non-null     object
 7   브랜드평판지수  16 non-null     int64
 8   국적       16 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 1.2+ KB

In [106]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
15    160.0
Name: 키, dtype: float64

In [107]:
#fillna(): 결측값을 채워주는 함
df.키.fillna(-1)

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7      -1.0
8     179.2
9     167.1
10     -1.0
11    183.0
12    175.0
13    176.0
14    174.0
15    160.0
Name: 키, dtype: float64

In [108]:
df2 = df.copy()
df2.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수    국적
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260  대한민국
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947  대한민국
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745  대한민국
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501  대한민국
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928  대한민국

In [109]:
#df2.키 = df2.키.fillna(-1)
df2.fillna(-1,inplace=True) # inplace는 #df2.키 = df2.키.fillna(-1) 이 짓을 안 해도
df2

          이름     그룹      소속사  성별        생년월일      키 혈액형    브랜드평판지수    국적
0         지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A   10523260  대한민국
1       지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A    9916947  대한민국
2       강다니엘     -1      커넥트  남자  1996-12-10  180.0   A    8273745  대한민국
3          뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB    8073501  대한민국
4         화사    마마무      RBW  여자  1995-07-23  162.1   A    7650928  대한민국
5         정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A    5208335  대한민국
6         민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O    4989792  대한민국
7         소연    아이들       큐브  여자  1998-08-26   -1.0   B    4668615  대한민국
8          진  방탄소년단      빅히트  남자  1992-12-04  179.2   O    4570308  대한민국
9        하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A    4036489  대한민국
10        태연   소녀시대       SM  여자  1989-03-09   -1.0   A    3918661  대한민국
11       차은우   아스트로     판타지오  남자  1997-03-30  183.0   B    3506027  대한민국
12        백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB    3301654  대한민국
13        JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O    3274137  대한민국
14        슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O    2925442  대한민국
15  김복숭아입니다.     애플    apple  여자  2000-01-01  160.0   A  987654321    일본

In [110]:
df2 = df.copy()
df2

          이름     그룹      소속사  성별        생년월일      키 혈액형    브랜드평판지수    국적
0         지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A   10523260  대한민국
1       지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A    9916947  대한민국
2       강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A    8273745  대한민국
3          뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB    8073501  대한민국
4         화사    마마무      RBW  여자  1995-07-23  162.1   A    7650928  대한민국
5         정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A    5208335  대한민국
6         민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O    4989792  대한민국
7         소연    아이들       큐브  여자  1998-08-26    NaN   B    4668615  대한민국
8          진  방탄소년단      빅히트  남자  1992-12-04  179.2   O    4570308  대한민국
9        하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A    4036489  대한민국
10        태연   소녀시대       SM  여자  1989-03-09    NaN   A    3918661  대한민국
11       차은우   아스트로     판타지오  남자  1997-03-30  183.0   B    3506027  대한민국
12        백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB    3301654  대한민국
13        JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O    3274137  대한민국
14        슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O    2925442  대한민국
15  김복숭아입니다.     애플    apple  여자  2000-01-01  160.0   A  987654321    일본

In [111]:
height = df2.키.mean()
height

174.66428571428574

In [112]:
df2.키.fillna(height,inplace=True)
df2.키

0     173.600000
1     177.000000
2     180.000000
3     178.000000
4     162.100000
5     178.000000
6     182.300000
7     174.664286
8     179.200000
9     167.100000
10    174.664286
11    183.000000
12    175.000000
13    176.000000
14    174.000000
15    160.000000
Name: 키, dtype: float64

In [113]:
#결측값이 있는 행을 제거한다.
df.dropna() # 결측값이 한 개라도 있는 경우 행을 삭제 = df.dropna(axis=0,how='any') axis=0 행 axis=1

          이름     그룹      소속사  성별        생년월일      키 혈액형    브랜드평판지수    국적
0         지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A   10523260  대한민국
1       지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A    9916947  대한민국
3          뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB    8073501  대한민국
4         화사    마마무      RBW  여자  1995-07-23  162.1   A    7650928  대한민국
5         정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A    5208335  대한민국
6         민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O    4989792  대한민국
8          진  방탄소년단      빅히트  남자  1992-12-04  179.2   O    4570308  대한민국
9        하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A    4036489  대한민국
11       차은우   아스트로     판타지오  남자  1997-03-30  183.0   B    3506027  대한민국
12        백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB    3301654  대한민국
13        JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O    3274137  대한민국
14        슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O    2925442  대한민국
15  김복숭아입니다.     애플    apple  여자  2000-01-01  160.0   A  987654321    일본

In [114]:
# 결측값이 있는 열을 제거
df.dropna(axis=1,how='any')

          이름      소속사  성별        생년월일 혈액형    브랜드평판지수    국적
0         지민      빅히트  남자  1995-10-13   A   10523260  대한민국
1       지드래곤       YG  남자  1988-08-18   A    9916947  대한민국
2       강다니엘      커넥트  남자  1996-12-10   A    8273745  대한민국
3          뷔      빅히트  남자  1995-12-30  AB    8073501  대한민국
4         화사      RBW  여자  1995-07-23   A    7650928  대한민국
5         정국      빅히트  남자  1997-09-01   A    5208335  대한민국
6         민현     플레디스  남자  1995-08-09   O    4989792  대한민국
7         소연       큐브  여자  1998-08-26   B    4668615  대한민국
8          진      빅히트  남자  1992-12-04   O    4570308  대한민국
9        하성운  스타크루이엔티  남자  1994-03-22   A    4036489  대한민국
10        태연       SM  여자  1989-03-09   A    3918661  대한민국
11       차은우     판타지오  남자  1997-03-30   B    3506027  대한민국
12        백호     플레디스  남자  1995-07-21  AB    3301654  대한민국
13        JR     플레디스  남자  1995-06-08   O    3274137  대한민국
14        슈가      빅히트  남자  1993-03-09   O    2925442  대한민국
15  김복숭아입니다.    apple  여자  2000-01-01   A  987654321    일본

In [115]:
df.iloc[15]= np.nan # nan 삽입

In [116]:
df.tail()

     이름     그룹   소속사   성별        생년월일      키  혈액형    브랜드평판지수    국적
11  차은우   아스트로  판타지오   남자  1997-03-30  183.0    B  3506027.0  대한민국
12   백호   뉴이스트  플레디스   남자  1995-07-21  175.0   AB  3301654.0  대한민국
13   JR   뉴이스트  플레디스   남자  1995-06-08  176.0    O  3274137.0  대한민국
14   슈가  방탄소년단   빅히트   남자  1993-03-09  174.0    O  2925442.0  대한민국
15  NaN    NaN   NaN  NaN         NaN    NaN  NaN        NaN   NaN

In [117]:
df.dropna(axis=0, how='all',inplace=True) # 행의 데이터가 모두 NaN인 경우만 삭제

In [118]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형     브랜드평판지수    국적
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260.0  대한민국
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947.0  대한민국
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745.0  대한민국
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501.0  대한민국
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928.0  대한민국
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335.0  대한민국
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792.0  대한민국
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615.0  대한민국
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308.0  대한민국
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489.0  대한민국
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661.0  대한민국
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027.0  대한민국
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654.0  대한민국
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137.0  대한민국
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442.0  대한민국

### 중복값 제거하기

In [119]:
df.혈액형

0      A
1      A
2      A
3     AB
4      A
5      A
6      O
7      B
8      O
9      A
10     A
11     B
12    AB
13     O
14     O
Name: 혈액형, dtype: object

In [120]:
#drop_duplicates(): 중복된 데이터를 제  거

In [121]:
#drop_duplicates(keep='first'): 중복된 데이터 처음으로 나온 데이터를 남겨놓기
df.혈액형.drop_duplicates(keep='first')

0     A
3    AB
6     O
7     B
Name: 혈액형, dtype: object

In [122]:
df.혈액형.drop_duplicates(keep='last')

10     A
11     B
12    AB
14     O
Name: 혈액형, dtype: object

row, column 제거하기

In [123]:
df.drop('그룹',axis=1)

      이름      소속사  성별        생년월일      키 혈액형     브랜드평판지수    국적
0     지민      빅히트  남자  1995-10-13  173.6   A  10523260.0  대한민국
1   지드래곤       YG  남자  1988-08-18  177.0   A   9916947.0  대한민국
2   강다니엘      커넥트  남자  1996-12-10  180.0   A   8273745.0  대한민국
3      뷔      빅히트  남자  1995-12-30  178.0  AB   8073501.0  대한민국
4     화사      RBW  여자  1995-07-23  162.1   A   7650928.0  대한민국
5     정국      빅히트  남자  1997-09-01  178.0   A   5208335.0  대한민국
6     민현     플레디스  남자  1995-08-09  182.3   O   4989792.0  대한민국
7     소연       큐브  여자  1998-08-26    NaN   B   4668615.0  대한민국
8      진      빅히트  남자  1992-12-04  179.2   O   4570308.0  대한민국
9    하성운  스타크루이엔티  남자  1994-03-22  167.1   A   4036489.0  대한민국
10    태연       SM  여자  1989-03-09    NaN   A   3918661.0  대한민국
11   차은우     판타지오  남자  1997-03-30  183.0   B   3506027.0  대한민국
12    백호     플레디스  남자  1995-07-21  175.0  AB   3301654.0  대한민국
13    JR     플레디스  남자  1995-06-08  176.0   O   3274137.0  대한민국
14    슈가      빅히트  남자  1993-03-09  174.0   O   2925442.0  대한민국

In [124]:
df.drop(['그룹','소속사'],axis=1)

      이름  성별        생년월일      키 혈액형     브랜드평판지수    국적
0     지민  남자  1995-10-13  173.6   A  10523260.0  대한민국
1   지드래곤  남자  1988-08-18  177.0   A   9916947.0  대한민국
2   강다니엘  남자  1996-12-10  180.0   A   8273745.0  대한민국
3      뷔  남자  1995-12-30  178.0  AB   8073501.0  대한민국
4     화사  여자  1995-07-23  162.1   A   7650928.0  대한민국
5     정국  남자  1997-09-01  178.0   A   5208335.0  대한민국
6     민현  남자  1995-08-09  182.3   O   4989792.0  대한민국
7     소연  여자  1998-08-26    NaN   B   4668615.0  대한민국
8      진  남자  1992-12-04  179.2   O   4570308.0  대한민국
9    하성운  남자  1994-03-22  167.1   A   4036489.0  대한민국
10    태연  여자  1989-03-09    NaN   A   3918661.0  대한민국
11   차은우  남자  1997-03-30  183.0   B   3506027.0  대한민국
12    백호  남자  1995-07-21  175.0  AB   3301654.0  대한민국
13    JR  남자  1995-06-08  176.0   O   3274137.0  대한민국
14    슈가  남자  1993-03-09  174.0   O   2925442.0  대한민국

In [125]:
df.drop(14,axis=0)

      이름     그룹      소속사  성별        생년월일      키 혈액형     브랜드평판지수    국적
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260.0  대한민국
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947.0  대한민국
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745.0  대한민국
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501.0  대한민국
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928.0  대한민국
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335.0  대한민국
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792.0  대한민국
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615.0  대한민국
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308.0  대한민국
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489.0  대한민국
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661.0  대한민국
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027.0  대한민국
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654.0  대한민국
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137.0  대한민국

In [126]:
df.drop([1,3,5],axis=0)

      이름     그룹      소속사  성별        생년월일      키 혈액형     브랜드평판지수    국적
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260.0  대한민국
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745.0  대한민국
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928.0  대한민국
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792.0  대한민국
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615.0  대한민국
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308.0  대한민국
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489.0  대한민국
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661.0  대한민국
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027.0  대한민국
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654.0  대한민국
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137.0  대한민국
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442.0  대한민국

데이터프레임 병합하기

In [127]:
df1 = pd.read_csv('http://bit.ly/ds-korean-idol')
df2 = pd.read_csv('http://bit.ly/ds-korean-idol-2')

In [128]:
df1

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [129]:
df2

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3      뷔  3050    4
4     화사  4300    3
5     정국  2900    5
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [130]:
df_copy = df1.copy()

In [131]:
# concat(): 데이터를 병함, sort=False 옵션으로 순서가 유지되도록 함
pd.concat([df1,df_copy],sort=False) #axis = 0은 생

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [132]:
df_concat = pd.concat([df1,df_copy],sort=False)
df_concat

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [133]:
# reset_index(): index를 새롭게 적용. drop=True 기존 index를 삭제
df_concat.reset_index(drop=True)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
16  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
17  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
18     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
19    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
20    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
21    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
22    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
23     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
24   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
25    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
26   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
27    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
28    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
29    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [134]:
pd.concat([df1,df2],axis=1)

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    이름    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    지민  3000    3
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  지드래곤  3500    3
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  강다니엘  3200    4
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     뷔  3050    4
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    화사  4300    3
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    정국  2900    5
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    민현  3400    6
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    소연  4500    5
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308     진  4200    4
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489   하성운  4300    4
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    태연  3700    3
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027   차은우  3850    5
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    백호  3900    4
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    JR  4100    3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    슈가  4150    3

In [135]:
df3 = df2.drop([3,5])
df3

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
4     화사  4300    3
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [136]:
pd.concat([df1,df3],axis=1)

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,이름,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,지민,3000.0,3.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,지드래곤,3500.0,3.0
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,강다니엘,3200.0,4.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,NaN,NaN,NaN
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,화사,4300.0,3.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,NaN,NaN,NaN
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,민현,3400.0,6.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,소연,4500.0,5.0
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,진,4200.0,4.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,하성운,4300.0,4.0
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,태연,3700.0,3.0
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,차은우,3850.0,5.0
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,백호,3900.0,4.0
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,JR,4100.0,3.0
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,슈가,4150.0,3.0

In [137]:
df1 = pd.read_csv('http://bit.ly/ds-korean-idol')
df2 = pd.read_csv('http://bit.ly/ds-korean-idol-2')

In [138]:
df_right = df2.drop([1,3,5,7,9],axis=0)
df_right

      이름    연봉  가족수
0     지민  3000    3
2   강다니엘  3200    4
4     화사  4300    3
6     민현  3400    6
8      진  4200    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [139]:
df_right = df_right.reset_index(drop=True)

In [140]:
df_right

     이름    연봉  가족수
0    지민  3000    3
1  강다니엘  3200    4
2    화사  4300    3
3    민현  3400    6
4     진  4200    4
5    태연  3700    3
6   차은우  3850    5
7    백호  3900    4
8    JR  4100    3
9    슈가  4150    3

In [141]:
pd.concat([df1,df_right],axis=1)

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,이름,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260,지민,3000.0,3.0
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947,강다니엘,3200.0,4.0
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745,화사,4300.0,3.0
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501,민현,3400.0,6.0
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928,진,4200.0,4.0
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335,태연,3700.0,3.0
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792,차은우,3850.0,5.0
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615,백호,3900.0,4.0
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308,JR,4100.0,3.0
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489,슈가,4150.0,3.0
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661,NaN,NaN,NaN
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027,NaN,NaN,NaN
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654,NaN,NaN,NaN
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137,NaN,NaN,NaN
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442,NaN,NaN,NaN

In [142]:
# merge(): 특정 고유한 키(unique,id)값을 기준으로 병합
# merge(데이프레임1, 데이터프레임2, on='유니크 값', how='병합의 기준')
#   병합의 기준: left,right ,inner
pd.merge(df1,df_right,on='이름',how='left') # df1을 기준으로 데이터를 병합

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수      연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260  3000.0  3.0
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947     NaN  NaN
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  3200.0  4.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     NaN  NaN
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928  4300.0  3.0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335     NaN  NaN
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792  3400.0  6.0
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615     NaN  NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308  4200.0  4.0
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489     NaN  NaN
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661  3700.0  3.0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027  3850.0  5.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654  3900.0  4.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137  4100.0  3.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442  4150.0  3.0

In [143]:
pd.merge(df1,df_right,on='이름',how='inner')

     이름     그룹   소속사  성별        생년월일      키 혈액형   브랜드평판지수    연봉  가족수
0    지민  방탄소년단   빅히트  남자  1995-10-13  173.6   A  10523260  3000    3
1  강다니엘    NaN   커넥트  남자  1996-12-10  180.0   A   8273745  3200    4
2    화사    마마무   RBW  여자  1995-07-23  162.1   A   7650928  4300    3
3    민현   뉴이스트  플레디스  남자  1995-08-09  182.3   O   4989792  3400    6
4     진  방탄소년단   빅히트  남자  1992-12-04  179.2   O   4570308  4200    4
5    태연   소녀시대    SM  여자  1989-03-09    NaN   A   3918661  3700    3
6   차은우   아스트로  판타지오  남자  1997-03-30  183.0   B   3506027  3850    5
7    백호   뉴이스트  플레디스  남자  1995-07-21  175.0  AB   3301654  3900    4
8    JR   뉴이스트  플레디스  남자  1995-06-08  176.0   O   3274137  4100    3
9    슈가  방탄소년단   빅히트  남자  1993-03-09  174.0   O   2925442  4150    3

In [144]:
df_right = df_right.append({'이름':'김사과','연봉':5000,'부양가족수':10},ignore_index=True)

<ipython-input-144-afb0b2cb7ffa>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_right = df_right.append({'이름':'김사과','연봉':5000,'부양가족수':10},ignore_index=True)

In [145]:
df_right = df_right.drop('가족수', axis=1)

In [146]:
df_right

      이름    연봉  부양가족수
0     지민  3000    NaN
1   강다니엘  3200    NaN
2     화사  4300    NaN
3     민현  3400    NaN
4      진  4200    NaN
5     태연  3700    NaN
6    차은우  3850    NaN
7     백호  3900    NaN
8     JR  4100    NaN
9     슈가  4150    NaN
10   김사과  5000   10.0

In [147]:
pd.merge(df1,df_right,on='이름',how='right')

      이름     그룹   소속사   성별        생년월일      키  혈액형     브랜드평판지수    연봉  부양가족수
0     지민  방탄소년단   빅히트   남자  1995-10-13  173.6    A  10523260.0  3000    NaN
1   강다니엘    NaN   커넥트   남자  1996-12-10  180.0    A   8273745.0  3200    NaN
2     화사    마마무   RBW   여자  1995-07-23  162.1    A   7650928.0  4300    NaN
3     민현   뉴이스트  플레디스   남자  1995-08-09  182.3    O   4989792.0  3400    NaN
4      진  방탄소년단   빅히트   남자  1992-12-04  179.2    O   4570308.0  4200    NaN
5     태연   소녀시대    SM   여자  1989-03-09    NaN    A   3918661.0  3700    NaN
6    차은우   아스트로  판타지오   남자  1997-03-30  183.0    B   3506027.0  3850    NaN
7     백호   뉴이스트  플레디스   남자  1995-07-21  175.0   AB   3301654.0  3900    NaN
8     JR   뉴이스트  플레디스   남자  1995-06-08  176.0    O   3274137.0  4100    NaN
9     슈가  방탄소년단   빅히트   남자  1993-03-09  174.0    O   2925442.0  4150    NaN
10   김사과    NaN   NaN  NaN         NaN    NaN  NaN         NaN  5000   10.0

In [148]:
df_right.columns = ['성함','연봉','가족수']
df_right

      성함    연봉   가족수
0     지민  3000   NaN
1   강다니엘  3200   NaN
2     화사  4300   NaN
3     민현  3400   NaN
4      진  4200   NaN
5     태연  3700   NaN
6    차은우  3850   NaN
7     백호  3900   NaN
8     JR  4100   NaN
9     슈가  4150   NaN
10   김사과  5000  10.0

In [149]:
# pd.merge(df1,df_right,on='이름',how='right') 실행이 안 됨 열명이 달라서

In [150]:
pd.merge(df1,df_right,left_on='이름',right_on='성함',how='right')

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,성함,연봉,가족수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0,지민,3000,NaN
1,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0,강다니엘,3200,NaN
2,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0,화사,4300,NaN
3,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0,민현,3400,NaN
4,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0,진,4200,NaN
5,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0,태연,3700,NaN
6,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0,차은우,3850,NaN
7,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0,백호,3900,NaN
8,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0,JR,4100,NaN
9,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0,슈가,4150,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,김사과,5000,10.0

Series 타입

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     float64
 8   국적       15 non-null     object
dtypes: float64(2), object(7)
memory usage: 1.7+ KB

In [152]:
df.키.dtypes

dtype('float64')

In [153]:
# astype(): 데이터의 타입을 변환
# df.키.astype(int) 실행이 안됨 Cannot convert non-finite values (NA or inf) to integer

In [154]:
df.키 = df.키.fillna(-1)

In [155]:
df.키.astype(int)

0     173
1     177
2     180
3     178
4     162
5     178
6     182
7      -1
8     179
9     167
10     -1
11    183
12    175
13    176
14    174
Name: 키, dtype: int64

#날짜 변환하기

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        15 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     float64
 8   국적       15 non-null     object
dtypes: float64(2), object(7)
memory usage: 1.7+ KB

In [157]:
df['생년월일']

0     1995-10-13
1     1988-08-18
2     1996-12-10
3     1995-12-30
4     1995-07-23
5     1997-09-01
6     1995-08-09
7     1998-08-26
8     1992-12-04
9     1994-03-22
10    1989-03-09
11    1997-03-30
12    1995-07-21
13    1995-06-08
14    1993-03-09
Name: 생년월일, dtype: object

In [158]:
# to_datetime(): 문자열에서 datatime 타입으로 변환
df.생년월일 = pd.to_datetime(df.생년월일)

In [159]:
df.생년월일

0    1995-10-13
1    1988-08-18
2    1996-12-10
3    1995-12-30
4    1995-07-23
5    1997-09-01
6    1995-08-09
7    1998-08-26
8    1992-12-04
9    1994-03-22
10   1989-03-09
11   1997-03-30
12   1995-07-21
13   1995-06-08
14   1993-03-09
Name: 생년월일, dtype: datetime64[ns]

In [160]:
df.생년월일.dt.year

0     1995
1     1988
2     1996
3     1995
4     1995
5     1997
6     1995
7     1998
8     1992
9     1994
10    1989
11    1997
12    1995
13    1995
14    1993
Name: 생년월일, dtype: int64

In [161]:
df.생년월일.dt.month

0     10
1      8
2     12
3     12
4      7
5      9
6      8
7      8
8     12
9      3
10     3
11     3
12     7
13     6
14     3
Name: 생년월일, dtype: int64

In [162]:
df.생년월일.dt.day

0     13
1     18
2     10
3     30
4     23
5      1
6      9
7     26
8      4
9     22
10     9
11    30
12    21
13     8
14     9
Name: 생년월일, dtype: int64

In [163]:
df.생년월일.dt.hour

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 생년월일, dtype: int64

In [164]:
df.생년월일.dt.minute

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 생년월일, dtype: int64

In [165]:
df.생년월일.dt.second

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 생년월일, dtype: int64

In [166]:
df.생년월일.dt.isocalendar().week

0     41
1     33
2     50
3     52
4     29
5     36
6     32
7     35
8     49
9     12
10    10
11    13
12    29
13    23
14    10
Name: week, dtype: UInt32

In [167]:
df.생년월일.dt.dayofweek # 요일: 0(월요일) ~ 6(일요일)

0     4
1     3
2     1
3     5
4     6
5     0
6     2
7     2
8     4
9     1
10    3
11    6
12    4
13    3
14    1
Name: 생년월일, dtype: int64

### 문제
'생년월일'을 통해 생년, 생월, 생일을 데이터를 뽑아 파생변수로 각각 만들어 저장

In [168]:
df['생년'] = df.생년월일.dt.year

In [169]:
df['생월'] = df.생년월일.dt.month

In [170]:
df['생일'] = df.생년월일.dt.day

In [171]:
df

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,국적,생년,생월,생일
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0,대한민국,1995,10,13
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947.0,대한민국,1988,8,18
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0,대한민국,1996,12,10
3,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501.0,대한민국,1995,12,30
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0,대한민국,1995,7,23
5,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335.0,대한민국,1997,9,1
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0,대한민국,1995,8,9
7,소연,아이들,큐브,여자,1998-08-26,-1.0,B,4668615.0,대한민국,1998,8,26
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0,대한민국,1992,12,4
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489.0,대한민국,1994,3,22
10,태연,소녀시대,SM,여자,1989-03-09,-1.0,A,3918661.0,대한민국,1989,3,9
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0,대한민국,1997,3,30
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0,대한민국,1995,7,21
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0,대한민국,1995,6,8
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0,대한민국,1993,3,9

### apply
* Series나 데이터 프레임에 좀 더 구체적인 로직을 적용하고 싶은 경우에 사용
* apply 적용하기 위해서는 별도의 함수가 먼저 정의되어야 함
* 함수를 매개변수로 넘겨줌

In [172]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [173]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [174]:
# 성별이 남자는 1, 여자는 0으로 변
df.loc[df.성별=='남자','성별']=1
df
df.loc[df.성별=='여자','성별']=0
df

      이름     그룹      소속사 성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  1  1993-03-09  174.0   O   2925442

In [175]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [176]:
def male_or_female(x):
    if x == '남자':
      return 1
    elif x == '여자':
      return 0

In [177]:
df.성별.apply(male_or_female)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [178]:
df.성별.apply(lambda x: 1 if x== '남자' else 0)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [179]:
df['NEW성별'] = df['성별'].apply(lambda x: 1 if x == '남자' else 0)

In [180]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  NEW성별
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260      1
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947      1
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745      1
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501      1
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928      0

### map

In [181]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [182]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

람다 함수
* 단일문으로 표현되는 익명함수
* 코드상에서 한 번만 사용되는 기능이 있을 , 굳이 함수를 만들지 않고 일회성으로 만들어 사용하는 함

* return

In [183]:
# 람다 예제 !!
# 람다가 유용하게 사용되는 대표적인 함수
# map(): 각 원소를 주어진 수식에 따라 변형하여 새로운 값으로 변환

li = [1,2,3,4,7,9,10,14,15,19,20]

per = list(map(lambda n:n *0.01, li))

In [184]:
per

[0.01, 0.02, 0.03, 0.04, 0.07, 0.09, 0.1, 0.14, 0.15, 0.19, 0.2]

In [185]:
map_gender ={'남자':1, '여자':0}

In [186]:
df.성별.map(map_gender)

0     1
1     1
2     1
3     1
4     0
5     1
6     1
7     0
8     1
9     1
10    0
11    1
12    1
13    1
14    1
Name: 성별, dtype: int64

In [187]:
df['NEW성별'] = df.성별.map(map_gender)

In [188]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  NEW성별
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260      1
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947      1
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745      1
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501      1
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928      0

In [189]:
df = pd.DataFrame({
    '파이썬':[60,70,80,85,75],
    '자료구조':[40,50,45,70,55],
    '데이터분석':[80,75,100,90,95]
})

In [190]:
df

   파이썬  자료구조  데이터분석
0   60    40     80
1   70    50     75
2   80    45    100
3   85    70     90
4   75    55     95

In [191]:
type(df.파이썬)

pandas.core.series.Series

In [192]:
df.파이썬 + df.자료구조 + df. 데이터분석

0    180
1    195
2    225
3    245
4    225
dtype: int64

In [193]:
# 곱하기 나누기 빼기도 잘

In [194]:
df['총점'] = df.자료구조 + df. 데이터분석 + df.파이썬
df

   파이썬  자료구조  데이터분석   총점
0   60    40     80  180
1   70    50     75  195
2   80    45    100  225
3   85    70     90  245
4   75    55     95  225

In [195]:
df['평균'] = df['총점'] /3

In [196]:
df

   파이썬  자료구조  데이터분석   총점         평균
0   60    40     80  180  60.000000
1   70    50     75  195  65.000000
2   80    45    100  225  75.000000
3   85    70     90  245  81.666667
4   75    55     95  225  75.000000

In [197]:
df.파이썬.mean()

74.0

In [198]:
df.mean() # df.mean(axis=0)

파이썬       74.000000
자료구조      52.000000
데이터분석     88.000000
총점       214.000000
평균        71.333333
dtype: float64

In [199]:
df = pd.DataFrame({
    '파이썬':[60,70,80,85,75],
    '자료구조':[40,50,45,70,55],
    '데이터분석':[80,75,100,90,95]
})

df2 = pd.DataFrame({
    '파이썬':['D','C','B','B','C'],
    '자료구조':[40,50,45,70,55],
    '데이터분석':[80,75,100,90,95]
})

In [200]:
df + 10

   파이썬  자료구조  데이터분석
0   70    50     90
1   80    60     85
2   90    55    110
3   95    80    100
4   85    65    105

In [201]:
# df2 + 10   에러남

In [202]:
df = pd.DataFrame({
    '파이썬':[60,70,80,85,75],
    '자료구조':[40,50,45,70,55],

})

df2 = pd.DataFrame({
    '파이썬':[60,70,80,85],
    '자료구조':[40,50,70,55],

})

In [203]:
# 행의 갯수가 다를 경우 빠진 데이터를 NaN으로 취급
df+df2

     파이썬   자료구조
0  120.0   80.0
1  140.0  100.0
2  160.0  115.0
3  170.0  125.0
4    NaN    NaN

In [204]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [205]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [206]:
df.select_dtypes(include='object').head() #문자열 컬럼만~

# select_dtypes 함수는 include 매개변수를 사용하여 선택할 데이터 타입을 지정할 수 있습니다.
# 위의 코드에서는 include='object'로 설정되어 있으므로, 데이터프레임에서 문자열 타입(object)을 가진 열들만 선택

     이름     그룹  소속사  성별        생년월일 혈액형
0    지민  방탄소년단  빅히트  남자  1995-10-13   A
1  지드래곤     빅뱅   YG  남자  1988-08-18   A
2  강다니엘    NaN  커넥트  남자  1996-12-10   A
3     뷔  방탄소년단  빅히트  남자  1995-12-30  AB
4    화사    마마무  RBW  여자  1995-07-23   A

In [207]:
df.select_dtypes(exclude='object').head() #문자열 아닌것만

       키   브랜드평판지수
0  173.6  10523260
1  177.0   9916947
2  180.0   8273745
3  178.0   8073501
4  162.1   7650928

In [208]:
df2 = pd.DataFrame({
    '파이썬':['D','C','B','B','C'],
    '자료구조':[40,50,45,70,55],
    '데이터분석':[80,75,100,90,95]
})

In [209]:
df2.select_dtypes(exclude='object') + 10

   자료구조  데이터분석
0    50     90
1    60     85
2    55    110
3    80    100
4    65    105

In [210]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [211]:
new_cols = df.select_dtypes(exclude='object').columns

In [212]:
new_cols

Index(['키', '브랜드평판지수'], dtype='object')

In [213]:
df[new_cols]

        키   브랜드평판지수
0   173.6  10523260
1   177.0   9916947
2   180.0   8273745
3   178.0   8073501
4   162.1   7650928
5   178.0   5208335
6   182.3   4989792
7     NaN   4668615
8   179.2   4570308
9   167.1   4036489
10    NaN   3918661
11  183.0   3506027
12  175.0   3301654
13  176.0   3274137
14  174.0   2925442

# 원 핫 인코딩
* 더미변수
* 한 개의 요소는 True(1), 나머지 요소는 False(0)로 만들 카테고리형으로 표현하는 기술

In [214]:
blood_map = {'A':0 , 'B':1 , 'AB':2 , 'O':3}

In [215]:
df['혈액형_code'] = df.혈액형.map(blood_map)
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  혈액형_code
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260         0
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947         0
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745         0
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501         2
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928         0

* df['혈액형_code']를 머신러닝 알고리즘에 넣어 데이터를 예측하려고 지시를 하면 컴퓨터는 값들간에 관계를 스스로 형성하게 됨
* 만약 B형은 1, AB형은 2라는 값을 가지고 있을 때, 컴퓨터는 'B형+AB형 = O' 이라는 이상한 관계를 맺을 수 있
* 별도의 columns을 형성해주고 1개의 columns에는 True, 나머지는 False라고 넣어줌으로서 'A,B,AB,O'형의 관계는 서로 독립적이라는 카테고리로 표현해주는 방식 -> 원 핫 인 코딩

In [217]:
df.groupby('혈액형')['혈액형_code']

In [218]:
# value_counts(): 각 카테고리가 어떤 것이 있는지, 해당 카테고리가 몇 개인지 반
df.혈액형_code.value_counts()

0    7
3    4
2    2
1    2
Name: 혈액형_code, dtype: int64

In [219]:
pd.get_dummies(df.혈액형_code) # 원 핫 인코딩 코드

    0  1  2  3
0   1  0  0  0
1   1  0  0  0
2   1  0  0  0
3   0  0  1  0
4   1  0  0  0
5   1  0  0  0
6   0  0  0  1
7   0  1  0  0
8   0  0  0  1
9   1  0  0  0
10  1  0  0  0
11  0  1  0  0
12  0  0  1  0
13  0  0  0  1
14  0  0  0  1